<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h2 class="text-success">
            <p class="text-center">Welcome: {{user.fullname}} </p>
        </h2>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center" "btn btn-success">Email: {{user.email}}</p>
                <p class="text-center"><a type="button" name="signout" id="signout" href="/signout"
                        class="btn btn-success">Đăng xuất</a></p>
            </div>
        </div>
    </div>
    <ul class="statusbar">
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li class="profiles-setting"><a href="">n</a></li>
        <li class="logout"><a href="">Q</a></li>
    </ul>
</body>

</html>